#av-wrap
	#av-containers
		#av-container-0.av-container.av-primary.av-visible.av-initial
			div.av-background
				include images/disabled-webcam.svg
				p.main There is currently no video in this session
				span.detail Please ensure that you have granted permissions to access the webcam
	//include avcontrols
include ssmodal.jade
