.av-container.av-shunya.tooltip(id=cont_id)
	div.av-background
		div.av-starting
			include images/webcam.svg
		div.av-error(style="display: none")
			include images/disabled-webcam.svg
		p.main Starting video ...
		span.detail
	include av-tooltip
	div.mic-indicator
		include images/microphone58-slashed.svg
