#blanket
	div#loading-msg
		img.logo(src='/landing/images/katyayani/svg/negative-logo.svg')
		include images/loading.svg
		p Loading your experience...
	div#loading-fact
			p#fact-text It is the mark of an educated mind to be able to entertain a thought without accepting it. 
			p#fact-author Aristotle
