doctype html
html
	head
		title= title
		link(href='/landing/stylesheets/404.css', rel='stylesheet' )
	body
	.wrapper.row2
		#container.clear
			section#fof.clear
			.hgroup
				h1 Something Just Went Wrong !
				h2 404 Error
			p For Some Reason The Page You Requested Could Not Be Found On Our Server
