#atl-wrapper
	#atl-header
		span.atl-title People
		span.atl-counter 0
		a.fa.fa-times(href="javascript:void(0)")
	//Commented out for now
	//#atl-search
	//	include images/search.svg
	//	span.search
	//		input.search(type="text", name="search", placeholder="Search someone ...", onFocus="this.placeholder=''", onBlur="this.placeholder='Search someone ...'")
	.atl-me
	#atl-list-wrap
		ul#atl-list.list
