.blanket-error(style="display:none")
	.error
		span.heading Cookie Error
		span &nbsp-&nbsp
		span.detail It seems you have not enabled your cookies
		a.go-backa(href="javascript:void()", onclick="window.history.back()") Take me back!
