.guest-container
	.top
		include images/arrow-left.svg
		.v-line
		.title-icon
			include images/user.svg
		.title-msg
			.title-info Continue as a guest
			.title-meta-info Input your name and enter this section...
	.h-line
	form
		.input-container
			input.input-text(type="text", id="display_name", required="required")
			label(for="display_name") Name or Nickname...
			.button-container
				span Enter this Section
