doctype
html( lang="en" )
	include header
	body
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700', rel='stylesheet', type='text/css')
		script(src='/auth/js/ext/jquery-1.11.3.min.js')
		script(src='/auth/js/login.mat-design.js')
		include blanket-error
		include title
		include login-container
		include anon-container
