.login-title
	.lg-in
		img(src="/auth/images/wiziq-logo-new.png")
		span.sign-in Sign in to the presentation
	.lg-up
		span.no-account Don't have an WizIQ Account?
		a(href="https://www.wiziq.com/Register.aspx")
			span.sign-up Sign Up
